.btn-share {
    display: flex;
    margin: 8px auto;
    align-items: center;
    background-color: #f8f8f8;
    border: 1px #e9e9e9 solid;
    border-radius: 50px;
    padding: 10px;
    margin-right: 8px;
}

.btn-share h4 {
    margin: 0 4px 0 0;
}

.btn-share svg {
    margin: 0;
}