h1 {
    font-size: 3em;
}

h3 {
    margin-top: 0;
}

p, h4 {
    color: #717171;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.icon-bg {
    background-color: rgba(15, 204, 206, .1);
    padding: 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.color-green-bold {
    color: var(--main-color);
    font-weight: 700;
    margin-block-start: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

.img-ranger {
    width: 68px;
    border-radius: 0;
    margin-left: 10px;
    position: absolute;
    top: 8px;
    left: 3px;
    z-index: 3;
}

.name-main {
    justify-content: space-between;
    margin-top: -24px;
}

.m-50 {
    margin: 50px 0 50px 0;
}

.mr-50 {
    margin: 50px;
    text-align: center;
}

.mt-50 {
    margin-top: 80px;
}

.mr-10 {
    margin-right: 10px;
}

.btn-download {
    background-color: var(--main-color);
    padding: 5px 21px;
    border-radius: 10px;
    color: var(--white);
    font-weight: 700;
    text-decoration: none;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 0.5s ease;
}

.btn-download:hover {
    background-color: var(--secundary-color);
}

.btn-hero {
    justify-content: center;
    width: 35%;
    height: 40px;
    white-space: no-wrap;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0;

}

a {
    text-decoration: none;
}

.flex-between {
    justify-content: space-between;
}

.img-bio {
    border: 3px transparent solid;
    border-radius: 100%;
    width: 150px;
}

.img-stats {
    border-radius: 0;
    margin-bottom: 20px;
}

.blob {
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin: 10px;
    height: 150px;
    width: 150px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

.blob.blue {
    background: rgba(8, 185, 187, .1);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
    animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

@media only screen and (max-width: 600px) {
    .mr-50 {
        margin: 0;
        margin-top: -40px;
    }

    h5 {
        text-align: center;
    }

    svg {
        text-align: center;
    }

    .img-banner {
        margin-top: 40px;
    }

    .flex-between {
        justify-content: center;
    }

    .mr-10 {
        margin-right: 0;
    }
}

@media only screen and (max-width: 480px) {
    .btn-download {
        margin: 15px 0;
    }

    .btn-hero {
        width: 100%;
    }

    .wrapper .btn-test {
        width: 100%;
        margin: 0;
    }

    h1 {
        text-align: center;
        font-size: 2em;
    }

    .name-main {
        justify-content: center;
        margin-top: -16px;
    }

    .img-ranger {
        width: 54px;
    }
}

.typing {
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-effect {
    width: 13ch;
    animation: typing 2s steps(22), effect .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    /* font-size: 2em; */
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes effect {
    50% {
        border-color: transparent
    }
}