.compCard h3 {
    color: #56e0e2;
    margin: 0;
}

.card-formacao {
    background-color: #f8f8f8;
    border-radius: 22px;
    padding: 10px;
    border: 1px solid #efeded;
    width: 262px;
}

.card-formacao p {
    margin: 0 0 16px 0;
}

.card-formacao h4 {
    margin-bottom: 8px;
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-formacao {
    width: 29px;
    padding: 7px;
    background-color: #ebebeb;
    border-radius: 13px;
}

.status {
    border-radius: 17px;
    color: #6e8081;
    float: right;
    margin-top: -13px;
}

.status:first-child {
    color: red;
}

.status:empty {
    display: none;
}

.complete {
    background-color: #1abc9c;
}

.complete:empty {
    background-color: transparent;
}

.progress {
    background-color: #e67e22;
}

.progress:empty {
    background-color: transparent;
}

.textMarque marquee:empty {
    display: none;
}

.text-curso {
    white-space: nowrap;
    overflow: hidden;
    /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    .card-formacao {
        width: 90%;
    }

}