.experience-image {
    width: 50%;
}

.experience-text {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .flex.experience {
        flex-direction: column;
    }
    .experience-image {
        width: 100%;
    }
    
    .experience-text {
        width: 100%;
    }

}