@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;600&display=swap');

* {
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}

img {
  width: 100%;
  border-radius: 20px;
}

button {
  border: #2f988f 1px solid;
  padding: 5px 10px;
  border-radius: 16px;
  cursor: pointer;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.center {
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.btn-whats {
  position: fixed;
  bottom: 20px;
  z-index: 10;
  right: 20px;
  background-color: #4ddd53;
  padding: 8px 10px;
  border-radius: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.btn-whats svg {
  margin-right: 0;
}

.tag-new {
  position: absolute;
  background-color: red;
  padding: 3px 9px;
  border-radius: 30px;
  margin: 6px;
  font-size: 12px;
  font-weight: 700;
  color: white;
}

@media only screen and (max-width: 600px) {
  .mr-50 {
    margin: 25px;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .destaque {
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
  }

  .flex-column-mb {
    flex-direction: column;
  }

  .css-1gmg89u-MediaWrapper, .css-1o1kbkv-MediaWrapper {
    min-height: 100px !important;
  }

  button {
    margin: 0 auto;
    display: flex;
  }
}